*{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: auto;

    
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
    z-index: -1;
    
}


.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}
.input-div > div > .numberTitle{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}
.input-div > div > .birthdayTitle{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #e74e70;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #e74e70;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #e74e70;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #BF0D3E, #9c163c, #000);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}
/*=======================================================================*/

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
/*=====================================================*/

.genderOption
{
 
    width: 100%;
    height: 15%;
    contain: content;
}
form {
   
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  form .gender {
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 1px solid #BF0D3E;
  }
  form .levelOption {
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 1px solid #BF0D3E;
  }
  form .levelOption {
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 1px solid #BF0D3E;
  }
  form .gender {
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 1px solid #BF0D3E;
  }
  input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid#BF0D3E;
    margin-bottom: 20px;
    font-size: 16px;
    color: #BF0D3E;
    background: transparent;
  }
  input[type="text"]:focus {
    outline: none;
  }
  .buttons {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .buttons input {
    background: #BF0D3E;
    color: #32be8f;
    -webkit-box-flex: 1;
            flex-grow: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .buttons input:last-child {
    margin-bottom: 0;
  }
  .buttons input:focus {
    outline: none;
  }
  input[type="radio"] {
    display: none;
  }
  label {
    flex-basis: 100px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 30px;
    cursor: pointer;
    -webkit-box-flex: 1;
            flex-grow: 1;
    font-size: 30px;
    color:#BF0D3E;
  }
  .fa {
    color:#BF0D3E;
  }
  .title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    color: #BF0D3E;
  }
  input:checked + label {
    background-color: #c03e63;
  }
  input:checked + label .title {
    color: #fff;
  }
  input:checked + label .fa {
    color: #fff;
  }
  ::-webkit-input-placeholder {
    color: #fff;
  }
  ::-moz-placeholder {
    color: #fff;
  }
  :-ms-input-placeholder {
    color: #fff;
  }
  ::-ms-input-placeholder {
    color: #fff;
  }
  ::placeholder {
    color: #fff;
  }
  ::-moz-selection {
    background: #fff;
    color: #fff;
  }
  ::selection {
    background: #fff;
    color:#fff;
  }
  ::-moz-selection {
    background: #fff;
    color: #fff;
  }
  ::-webkit-selection {
    background: #fff;
    color:#fff;
  }
/*==========================================================*/
@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}