<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/VinicolaStyle.css">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios de reservacion</title>
</head>
<body>
    
    <div>
        <table>
           <thead>
               <tr>
                  <th>Nombre servicio</th>
                  <th>Dia</th>
                  <th>Hora inicial</th>
                  <th>Hora final</th>
                   <th>Reserva</th>
               </tr>
           </thead>
           <tbody>
               <tr th:if="${wineries.empty}">
                   <td colspan="2"> No hay servicios disponibles</td>
               </tr>
               <tr th:each="winery : ${wineries}">
                   <td><span th:text="${winery.name}">Nombre servicio</span></td>
                   <td><span th:text="${winery.address}">Dia</span></td>
                   <td><span th:text="${winery.address}">Hora inicial</span></td>
                   <td><span th:text="${winery.address}">Hora final</span></td>
                   <td><a th:href="@{/wineryServicesView(wineryName=${winery.name})}"><button class="btnWebsite">Reservar</button></a></td>
               </tr>
           </tbody>
       </table>
   </div>

   <br/>
  
         
</body>
</html>