<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login</title>
	<link rel="stylesheet" type="text/css" href="/css/LoginStyle.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<link rel="icon" href="/img/VinPlanLogo_preview_rev_1.png" type="image/png">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    
    <img class="wave" src="/img/wave.png">
	<div class="container">
		<div class="img">
			<img src="/img/bg.svg">
		</div>
		<div class="login-content">
			<form th:action="@{/login}" method="post">
				<img src="/img/VinPlanLogo_preview_rev_1.png">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<label for="username"><h5>Username</h5></label>
           		   		<input type="text" id="username" name="username" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<label for="hashed_password"><h5>Password</h5></label>
           		    	<input type="password"  id="password" name="password" class="input">
            	   </div>
            	</div>
			
            	<a href="#">Forgot Password?</a>
                <input type="submit" class="btn" value="Login">
				<button type="button" class="btn" value="Sign Up"
						onclick="window.location.href='/SignUp'">Sign Up</button> 
            </form>
        </div>
    </div>
</body>
</html>
