<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/VinicolaStyle.css">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinicolas</title>
</head>
<body>

    <div>
        <table>
           <thead>
               <tr>
                   <th>Image</th>
                   <th>Name</th>
                   <th>Codigo Postal</th>
                   <th>Mostrar servicios</th>
               </tr>
           </thead>
           <tbody>
               <tr th:if="${vinicolas.empty}">
                   <td colspan="2"> No hay vinicolas disponibles</td>
               </tr>
               <tr th:each="vinicola: ${vinicolas}">
                   <td><span th:text="${vinicola.nombre}">Nombre</span></td>
                   <td><span th:text="${vinicola.direccion}">Direccion</span></td>
                   <td><span th:text="${vinicola.codigo_post}">Codigo Postal</span></td>
                   <td><a th:href="@{/Servicios(vinicolaNombre=${vinicola.nombre})}"><button>Website</button></a></td> 
                   
               </tr>
           </tbody>
       </table>
   </div>

   <br/>
  
</body>
</html>